$backgroundColor: rgba(128, 53, 190, 0.05);
$textColorDark: #111111;
$textColorNormal: #333;
$textColorPink: #6C004D;
$textColorLight: #999999;
$btnBackColor: #FB2726;
$primaryColor: #007bff;
$successColor: #28a745;
$dangerColor: #dc3545;
$secondaryColor: #6c757d;