.horoscope {
    max-width: 96%;
    margin: 15px auto 50px auto;
    // font-family: vazir;
    font-family: inherit;

    .horoscope-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: $backgroundColor;
        border-radius: 10px;
        padding: 6px 24px;
        text-align: center;
        box-shadow: 0 5px 5px rgb(0 0 0 / 15%);

        h3 {
            color: $textColorDark;
            font-weight: 700;
            font-size: 1.5em;
            font-family: inherit;
            margin-bottom: 0;
            padding: 13px;
        }

        figure {
            margin: 0;

            img {
                max-width: 155px;
                padding: 0;
                margin: 0;
            }
        }

        p.horoscope-content__aye {
            color: $textColorLight;
            font-weight: lighter;
            padding: 0 70px;
            font-size: inherit;
            text-align: center;
        }

        p.horoscope-content__niat {
            color: $textColorNormal;
            font-weight: 600;
        }

        .horoscope-content__submitBtn {
            margin-bottom: 20px;
            padding: 5px 50px;
            background-color: $btnBackColor;
            border: 2px solid $backgroundColor;
            border-radius: 4px;
            color: $textColorNormal;
            font-weight: 500;
            cursor: pointer;
            box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
            font-size: 1em;
            font-weight: 600;
            font-family: inherit;

            &:hover {
                box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
            }

            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}

.horoscope#horoscope_answer_section {
    .horoscope-content {

        img {
            max-width: unset;
            width: 95%;
            margin: 16px auto;
        }

        p {
            span.text-green {
                color: $successColor;
            }

            span.text-red {
                color: $dangerColor;
            }

            span.text-blue {
                color: $primaryColor;
            }

            span.text-default {
                color: $textColorNormal;
            }
        }

        p.horoscope-content__dobeity {
            color: $dangerColor;
            font-weight: lighter;
            font-size: 0.85em;
            margin: 0;
            text-align: center;
        }

        p.horoscope-content__desc {
            color: $textColorNormal;
            padding: 0;
            text-align: right;
            margin: 24px auto;
            line-height: 2;
        }
    }
}